
html, body {
    font-family: Avenir, "Helvetica Neue";
    margin: 0;
}

.container {
    margin: 1rem;
}

ul {
    list-style: none;
    padding-left: 1rem;
}

.block {
    padding: 1rem;
    margin: 0.5rem auto;
    border: 1px solid #999;
    border-radius: 5px;
}

.debug {
    margin-top: 10em;
    padding: 1rem 2rem;
    background: #eee;
}